@page "/Personnage"

@using DisneyBattle.Blazor.Models

<h3>Liste des Personnages</h3>

@if (listePersonnages == null)
{
    <p>Chargement en cours...</p>
}
else if (listePersonnages.Count == 0)
{
    <p>Aucun personnage trouvé.</p>
}
else
{
    <table class="table table-dark table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Nom</th>
                <th>Alignement</th>
                <th>Niveau</th>
                <th>Expérience</th>
                <th>PV</th>
                <th>Attaque</th>
                <th>Défense</th>
                <th>Lieu</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var personnage in listePersonnages)
            {
                <tr>
                    @if (personnage.AlignementId == 1)
                    {
                        <td class="bg-light text-black">@personnage.Id</td>
                        <td class="bg-light text-black">@personnage.Nom</td>
                        <td class="bg-light text-black">@personnage.AlignementId</td>
                        <td class="bg-light text-black">@personnage.Niveau</td>
                        <td class="bg-light text-black">@personnage.Experience</td>
                        <td class="bg-light text-black">@personnage.PointsVie</td>
                        <td class="bg-light text-black">@personnage.PointsAttaque</td>
                        <td class="bg-light text-black">@personnage.PointsDefense</td>
                        <td class="bg-light text-black">@personnage.LieuId</td>
                    }
                    else
                    {
                        <td>@personnage.Id</td>
                        <td>@personnage.Nom</td>
                        <td>@personnage.AlignementId</td>
                        <td>@personnage.Niveau</td>
                        <td>@personnage.Experience</td>
                        <td>@personnage.PointsVie</td>
                        <td>@personnage.PointsAttaque</td>
                        <td>@personnage.PointsDefense</td>
                        <td>@personnage.LieuId</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [Inject]
    public HttpClient _Client { get; set; }

    private List<PersonnageModel> listePersonnages;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            listePersonnages = await _Client.GetFromJsonAsync<List<PersonnageModel>>("https://localhost:7171/api/personnage");
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Erreur lors de la récupération des personnages : {ex.Message}");
            listePersonnages = new List<PersonnageModel>();
        }
    }
}
